.App {
  text-align: center;
}
.App-header {
  background-color: white;
  height: 50px;
  padding: 20px;
  color: black;
}
#artistInput {
  border-radius: 4px;
  margin: 4px;
  font-size: 1.5rem;
}
button {
  font-size: 1.5rem;
}

/*D3 elements*/
.axis--x path { display: none; }
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.bar { fill: steelblue;}
.bar:hover { fill: brown; }

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

hr {
  color: white;
}

#ohwString {
  display: inline;
}

#ohwFactor {
  display: inline;
}